*{
    margin:0;
    padding:0;

}

.main{
    width:100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%), url(images/555.jpg.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.icon{
    width:200px;
    float:left;
    height:70px;
}
.logo{
    color: darkgoldenrod;
    font-size: 60px;
    font-family: 'Times New Roman';
    float:left;
    padding-left: 15px;
    padding-top: 0;

}

.menu ul a{
    padding-top: 57px;
    padding-left: 32px;
    margin-left: 76px;
    margin-top: 52px;
    text-decoration: none;
    font-family: 'Lucida Sans';
    color: aliceblue;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}
.menu ul a:hover{
    color: darkgoldenrod;
}

.search{
    width: 330px;
    float: left;
    margin-left: 555px;
    margin-top: 12px;
    font-family: Verdana;
    padding-left: 300px;

}
.srch{
    background: transparent;
    width: 300px;
    border:2px solid darkgoldenrod;
    color: aliceblue;
    

}
.btn{
    width: auto;
    background: darkgoldenrod;
    border: 1px solid darkgoldenrod;
    
}
.content{
    margin-top: 80px;
    color:darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 9%;
    letter-spacing: 1px;
    padding-left: 20px;



}
.par{
    padding-left: 20px;
    padding-bottom: 20px;
    color: aliceblue;
    font-family:Helvetica;
    letter-spacing: 1.2px;
    line-height: 30px;

}
.cn{
    width:170px;
    height: 40px;
    border: none;
    background: darkgoldenrod;
    margin-left: 20px;
    border-radius: 15px;
    cursor: pointer;
}.cn a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    
}
.cn a:hover{
    color: aliceblue;
}
.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 50%);
    position:absolute;
     top: 100px;
     left:870px;
     border-radius: 10px;
     padding: 25px;
     margin-left: 200px;
}

.form h3{
    font-size:32px;
    text-align: center;
    color: darkgoldenrod;
    background: aliceblue;
    border-radius: 10px;
    padding-bottom: 8px;


}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid darkgoldenrod;
    border-top: none;
    border-left: none;
    border-right: none;
    color: aliceblue;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-top: 30px;
    outline:none;
    


}
.form p{
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 17px;
    padding-top: 20px;


}
.bth{
    margin-top: 20px;;
    width: 240px;
    background: darkgoldenrod;
    outline: none;
    border-radius: 10px;
    height: 40px;
   
}
.bth a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
.bth:hover{
    background-color: aliceblue;
}
.link{
    color: aliceblue;
}
.link a{
    text-decoration: none;
    color: darkgoldenrod;
    text-align: center;
}
.liw{
    color: aliceblue;
    text-align: center;
}
.icons a{
    margin-top: 30px;
    font-size: 30px;
    padding-left: 14px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.4s ease-in-out;
    

}
.icons a:hover{
    color:darkgoldenrod;
}
.name{
    background: linear-gradient(to bottom,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 50%);
    font-family: -apple-system;
    background: cadetblue;

    

}